* {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
}

/* 
 * LAYOUT
 */

header {
    display: flex;
    gap: 5px;
    border-bottom: 2px solid black;
}

footer {
    border-top: 2px solid black;
}

body {
    width: 100%;
    margin: 40px auto;
    border-left: 2px solid black;
    padding-left: 10px;
}

aside table {
    width: 100%;
    border: 2px solid black;
}

aside table th {
    text-align: left;
    background-color: lightgray;
}

aside table a {
    color: black;
    text-decoration: underline;
}

/*
 * TRANSFORMS
 */
figure {
    width: 50%;
    border: 2px solid black;
    margin: 10px 0;
    transition: transform 0.3s ease;
    /* display: inline-block; */
}

figure:hover {
    transform: scale(1.5);
}

/*
 * TYPOGRAPHY
 */
h1 {
    margin: 5px 0px;
}

h1 a {
    color: black;
}

h1 a:hover {
    color: black;
}

h2,
h3 {
    margin: 20px 0 5px 0;
}

aside h3 {
    white-space: nowrap;
    overflow-x: auto;
    text-overflow: ellipsis;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE & Edge */
}

aside h3::-webkit-scrollbar {
    display: none;
    /* WebKit */
}

a {
    color: #0066cc;
    /* soft blue */
    text-decoration: none;
    /* remove underline */
    font-weight: 500;
    transition: all 0.2s ease;
}

a:hover {
    color: #004999;
    /* darker on hover */
    text-decoration: underline;
    /* or a subtle underline */
}

.main-content p {
    /* text-indent: 1em each-line; */
    margin: 1rem 0;
    /* margin-left: 20px; */
}

/*
 * CLASSES
 */

.header-title {
    flex: 1;
}

.header-info {
    flex: 0 0 auto;
    /* Don't grow, don't shrink, auto size */
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 5px;
    justify-content: flex-end;
}

.header-info a {
    padding-left: 1em;
}

.main-layout {
    display: flex;
    width: 100%;
    gap: 20px;
}

.main-content {
    flex: 2;
    width: 100%;
    height: 100%;
}

.info-aside {
    flex: 1;
    margin: 15px;
    overflow-y: auto;
}

#gamediv {
    margin-top: 30px;
}

/*
 * QUERIES
 */
@media (min-width: 600px) {
    body {
        width: 70%;
    }
}