
table {
    width: 100%;
    table-layout: fixed;
    border: 2px solid black;
    border-collapse: collapse;
}

th {
    text-align: left;
    background-color: lightgray;
}

th,
td {
    white-space: nowrap;
    overflow-x: auto;
    text-overflow: ellipsis;
    scrollbar-width: none;
    -ms-overflow-style: none;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

aside table a {
    color: black;
    text-decoration: underline;
}