<h3>Currently working on <a href="">(+)</a></h3>
<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
    </tr>
    <tr>
        <td><a href="www.alyashour.dev">Portfolio</a></td>
        <td>You're here!</td>
    </tr>
    <tr>
        <td><a href="weautopilot.com">WEAP PM</a></td>
        <td>OpenProjects</td>
    </tr>
    <tr>
        <td><a href="weautopilot.com">WEAP TechOps</a></td>
        <td>Cloud, DBA, and more</td>
    </tr>
    <tr>
        <td>HAFA</td>
        <td>To be announced...</td>
    </tr>
</table>

<!-- For linkless-child pages -->
<h3>Subpage Index <a href="">(+)</a></h3>
<table>
    <tr>
        <th>Title</th>
        <th>Date</th>
    </tr>
</table>

<!-- This is for any posts I make -->
<h3>Documents</h3>
<table>
    <tr>
        <th>Title</th>
        <th>Tag(s)</th>
    </tr>
</table>