<h3>Currently working on <a href="">(+)</a></h3>
<table>
    <tr>
        <th><p>Title</p></th>
        <th><p>Description</p></th>
    </tr>
    <tr>
        <td><a href="www.alyashour.dev">Portfolio</a></td>
        <td><p>You're here!</p></td>
    </tr>
    <tr>
        <td><a href="weautopilot.com">WEAP PM</a></td>
        <td><p>OpenProjects</p></td>
    </tr>
    <tr>
        <td><a href="weautopilot.com">WEAP TechOps</a></td>
        <td>Cloud, DBA, and more</td>
    </tr>
    <tr>
        <td>HAFA</td>
        <td>To be announced...</td>
    </tr>
</table>

<!-- For linkless-child pages -->
<h3>Subpage Index <a href="">(+)</a></h3>
<table>
    <tr>
        <th>Title</th>
        <th>Date</th>
    </tr>
</table>

<!-- This is for any posts I make -->
<h3>Documents</h3>
<table>
    <tr>
        <th>Title</th>
        <th>Tag(s)</th>
    </tr>
</table>

<!-- To be added later... -->
<!-- <h2>Stats</h2>
<div class="side-scroller">
    <div>
        <b>Top languages over 30 days</b>
        <figure><embed src="https://wakatime.com/share/@alyashour/e1b73a1d-06cd-417d-9f88-b156c0f750f3.svg"></embed>
        </figure>
    </div>
</div> -->