<h2>About Me</h2>
<p>
    My name is <b>Aly Ashour</b>, and I'm a computer software engineering student at the University of Western Ontario.
</p>
<p>
    I live to work with computers and technology and odds are if it's metal or silicon I want my hands on it.
</p>
<p>
    <!-- make this href point to WEAP & business -->
    I write lots of code and chew on cables and keyboards both on my own and on any team that'll let me in
    (<a href="pages/founder.html">and even some that don't</a>).
</p>

<h3>Passions</h3>
<p>
    I love learning. In any flavour. Classes, courses, videos, books. In a perfect world I'd finish my degree
    and run right back in for another again and again until I'd tried everything. I want to know how
    everything works, all the way down.
</p>
<p>
    I'm also an occasional teacher. I've tutored math and physics for 5 years and give lectures on
    computer science for students through my club at Western.
    Besides that I adore space, physics, and ancient history, I play chess, some video games, football
    (not the american one), and if I had one wish I'd give everyone the chance to look through a telescope.
</p>

<h2>Projects</h2>
<div partial="partials/projects.html"></div>

<!-- To be added later... -->
<!-- <h2>Stats</h2>
<div class="side-scroller">
    <div>
        <b>Top languages over 30 days</b>
        <figure><embed src="https://wakatime.com/share/@alyashour/e1b73a1d-06cd-417d-9f88-b156c0f750f3.svg"></embed>
        </figure>
    </div>
</div> -->