<p>I'm quite mixed-genre when it comes to CS - you'll find projects of mine spanning lots of subjects - but here are some
    of my favourites!</p>

<div class="projects-scroller">
    <div class="project-container">
        <h3>Gerstner Waves Water Shader</h3>
        <hr>
        <img src="img/gerstner_waves.gif" alt="Waves graphics gif">
        <hr>
        <ul>
            <li>C++</li>
            <li>OpenGL</li>
            <li><a href="https://github.com/alyashour/Gerstner-waves">github</a></li>
        </ul>
    </div>

    <div class="project-container">
        <h3>Marching Cubes Surface Extraction</h3>
        <hr>
        <img src="img/marching_cubes.gif" alt="Marching cubes gif">
        <hr>
        <ul>
            <li>Python</li>
            <li>OpenGL</li>
            <li><a href="https://github.com/alyashour/Marching-Cube-Renderer">github</a></li>
        </ul>
    </div>

    <div class="project-container">
        <h3>Bezier Curve Editor</h3>
        <hr>
        <img src="img/bezier_curve.gif" alt="Bezier Curve gif">
        <hr>
        <ul>
            <li>Python</li>
            <li>OpenGL</li>
            <li><a href="https://github.com/alyashour/Bezier-Curve-Editor">github</a></li>
        </ul>
    </div>
</div>

<p><b>See more <a href="pages/projects.html">here</a>!</b></p>