---
import BaseLayout from "../layouts/BaseLayout.astro";
import Columns from "../layouts/Columns.astro";
import Table from "../components/Table.astro";
import CardSideScroller from "../layouts/CardSideScroller.astro";

// TEMP
const cwoData = [
	{ Title: "Portfolio", Description: "You're here!", Link: "https://www.alyashour.dev"},
	{ Title: "Autopilot P&C Lead", Description: "", Link: "https://weautopilot.com"},
];

const subpages = [
	{ Title: "Roadmap", Link: "/roadmap" }, 
	{ Title: "Startup", Link: "/startups" },
	{ Title: "Projects", Link: "/projects" }
];

const readingList = [
	{
		Title: "NASA Systems Engineering Handbook",
		Author: "R. Shishko, R. Aster, RC. Cassingham",
	},
	{ Title: "Fighting the Great War", Author: "MS. Neiberg" },
];

const cards = [
	{ 
		Title: "Gerstner Waves Water Shader", 
		Image: "/gerstner_waves.gif", 
		ImageAlt: "Waves Graphics Demo",
		Tags: ["C++", "OpenGL"],
		GitHubLink: "https://github.com/alyashour/Gerstner-waves"
	},
	{ 
		Title: "Marching Cubes Surface Extraction", 
		Image: "/marching_cubes.gif", 
		ImageAlt: "Marching Cubes Demo",
		Tags: ["Python", "OpenGL"],
		GitHubLink: "https://github.com/alyashour/Marching-Cube-Renderer"
	},
	{ 
		Title: "Bezier Curve Editor", 
		Image: "/bezier_curve.gif", 
		ImageAlt: "Bezier Curve Demo",
		Tags: ["Python", "OpenGL"],
		GitHubLink: "https://github.com/alyashour/Bezier-Curve-Editor"
	},
]
---

<BaseLayout>
	<!-- Home page -->
	<!-- Left/right split -->
	<Columns>
		<!-- Main content section -->
		<section>
			<h2>About Me</h2>
			<p>
				My name is <b>Aly Ashour</b>, and I'm a software engineering
				student at the University of Western Ontario.
			</p>
			<p>
				I live to work with computers and technology and odds are if
				it's metal or silicon I want my hands on it. I write lots of
				code and chew on cables and keyboards both on my own and on any
				team that'll let me in (<a href="/startup"
					>and even some that don't</a
				>).
			</p>

			<h3>Mission</h3>

			<p>
				I'm passionate about building systems that solve real-world
				problems — the kind that exist outside of the computer or the
				classroom. I'm especially drawn to:
			</p>
			<ul>
				<li>
					<b>Autonomy</b> — not just "self-driving" as a concept, but how
					we can teach machines to think and the problems they can solve.
				</li>
				<li>
					<b>Engineering Impact</b> — systems that help people, improve
					lives, or change the world for the better. I want to build tools
					that matter.
				</li>
				<li>
					<b>Global solutions</b> — especially for public systems like
					transit, safety, or accessibility. We have a responsibility to
					create for the whole world.
				</li>
				<li>
					<b>Difficult problems</b> — I'm fascinated by ambiguity and drawn
					to difficulty. An "unsolved" problem is just a signal saying
					there is more to see here. I hope to push the technical boundary
					further than we thought possible.
				</li>
			</ul>
			<p>
				Besides that I adore space, physics, and ancient history, I play
				chess, some video games, football (not the american one), and my
				favourite song is <a
					href="https://www.youtube.com/watch?v=z7f3SF4lGmI"
					>Fragile by Laufey.</a
				>
			</p>
		</section>

		<!-- Aside, info section -->
		<aside>
			<h3>Currently working on <a href="">(+)</a></h3>
			<Table data={cwoData} linkKey="Link"/>

			<!-- For any child pages -->
			<h3>Subpage Index <a href="">(+)</a></h3>
			<Table data={subpages} linkKey="Link"/>

			<!-- The books I'm reading -->
			<h3>Currently Reading</h3>
			<Table data={readingList} />
		</aside>
	</Columns>

	<!-- Projects -->
	<div>
		<h2>Projects</h2>
		<p>
			I'm quite mixed-genre when it comes to CS - you'll find projects of
			mine spanning lots of subjects - but here are some of my favourites!
		</p>

		<CardSideScroller cards={cards} />

		<p><b>See more <a href="pages/projects.html">here</a>!</b></p>
	</div>
</BaseLayout>

<style>
	section {
		flex: 2 1 0;
	}

	aside {
		flex: 1 1 0;
	}
</style>
