<footer>
    <div class="left-footer">
        <p>Aly Ashour</p>
    </div>

    <div class="right-footer">
        <a href="/roadmap/">v0.3.0</a>
    </div>
</footer>

<style>
    footer {
        display: flex;
        margin-top: 20px;
        padding: 10px 0;
        border-top: 2px solid black;
    }

    .left-footer {
        flex: 1;
    }

    .right-footer {
        flex: 1;
        text-align: right;
    }
</style>