<div>
    <slot />
</div>

<style>
    div {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    @media (max-width: 1200px) {
    /* On narrow screens */
    /* make the aside section stack on top instead of go on right */
    div {
        flex-direction: column;
        gap: 0px;
    }
}
</style>
